---
title: Standard Text Format
published: false
is_layout: true
position: 11
---
{% extends layouts/double-columns %}

{% block content/main %}

%div
  {% include site_header %}
  - 8.times do |i|
    {% capture title %}{% editable_text "Titel #{i + 1}", format:raw, priority:"#{27 - i*3}", line_break: false, rows: 1 %}{% endeditable_text %}{% endcapture %}
    {% if title.size > 0 %}
    %h3{:style => "padding-top:0px;padding-bottom:0"} {{ title }}
    {% endif %}
    {% capture text %}{% editable_text "Text #{i + 1}", priority:"#{26 - i*3}" %}{% endeditable_text %}{% endcapture %}
    {% if text.size > 0 %}
    .vspacer {{ text }}
    {% endif %}
    {% capture image %}{% editable_file "Bild #{i + 1}", priority:"#{25 - i*3}" %}{% endeditable_file %}{% endcapture %}
    {% if image.size > 0 %}
    {% assign m = #{i} | mod:2 %}
    .thumbnail.vspacer
      .img-box
        %a{ href: "{{ image }}", :style => "padding:0px" }
          %img.img-responsive{ src: "{{ image | resize: '900x400#' }}", alt: "{% if title.size == 0 %}{% if #{i} == 0 %}{{ page.title}}{% else %}{% if m == 0 %}{{ site.seo_title }}{% else %}{{ page.seo_title }}{% endif %}{% endif %}{% else %}{{ title }}{% endif %}" }
    {% endif %}
  {% include site_footer %}
{% endblock %}